@font-face {
	src: url("./fonts/NunitoSans-Italic");
font-family: "Nunito Sans", sans-serif;
}

@font-face {
	src: url("./fonts/NunitoSans-Regular");
font-family: "Nunito Sans", sans-serif;
}

@font-face {
	src: url("./fonts/YesevaOne-Regular");
font-family: "Yeseva One", cursive;
}

body {
	margin: 0;
	padding: 0px 15px;
	font-family: Nunito Sans;
	box-sizing: border-box;
	background-color: black;
}

.container {
	max-width: 1270px;
	margin: 0px auto;
	box-sizing: border-box;
}

/*.window {
	background: #131313;*/
	
}

.window-content {
	padding-bottom: 125px;
	padding-left: 135px;
	padding-top: 70px;
	
}

.main {
	display: flex;
	/*flex-wrap: wrap;*/
}

.projects {
	max-width: 500px;
	margin: 50px 40px 0px 0px;
}

.CP {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	margin: 0px;
}

.description {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	margin: 0px 0px 100px 0px;
}

.big {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.small {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}

.slider__nav {
	display: flex;
	flex-direction: column;
}

.slider__nav__li {
	list-style: none;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	padding: 0px 0px 0px 0px;
	/*margin-left: 548px;
	margin-top: 0;*/
}

.slider__nav__li__item {
	padding: 0px 60px 0px 0px;
}

.slider__nav__li__item:last-child {
	padding-right: 0px;
}

.slider__nav__li__item a {
	text-decoration: none;
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
}

.slider__nav__li__item a:hover, .slider__nav__li__item a.active {
	color:#E3B873; 
	text-decoration: underline;
}

.slider {
  position: relative;
  margin: 20px 0;
}

.slider__images {
  position: relative;
  width: 679px;
  height: 482px;
}

.slider__images-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 7px 0;
}

.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}

.slider__images .image.active {
  opacity: 1;
}

.slider__arrows {
  display: flex;
}

.slider__arrow {
  /*position: absolute;*/
  width: 15%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  /*opacity: 0;*/
  /*background: rgba(0, 0, 0, 0.4);*/
  transition: opacity 0.4s ease;
  display: flex;
  /*align-items: flex-start;*/
  justify-content: flex-start;
}

/*.slider__arrow:hover {
  opacity: 1;
}*/

/*.slider__arrow.left {
  left: 0;
}

.slider__arrow.right {
  right: 0;*/
}

.slider__dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
  background: #000;
}

.foto {
	background-image: url(./images/slider-1.jpg);
	height: 482px;
	width: 679px;
}

.foto {
	background-image: url(./images/slider-2.jpg);
	height: 482px;
	width: 679px;
}

.foto {
	background-image: url(./images/slider-3.jpg);
	height: 482px;
	width: 679px;
}